.about {
  padding: 100px 80px;
  background-color: #1f1f1f;
  color: #fff;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  column-gap: 120px;
}

.about__title {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  z-index: 1;
  max-width: 154px;
}

.about__content {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  max-width: 660px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  z-index: 1;
}

.about__paragraph {
  margin: 0;
}

.about__circle {
  background-color: #2f80ed;
  position: absolute;
  top: -121px;
  left: -91px;
  width: 495px;
  height: 495px;
  border-radius: 50%;
}

@media screen and (max-width: 766px) {
  .about {
    flex-direction: column;
    padding: 50px 30px;
  }

  .about__title {
    margin: 0 0 60px 0;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    z-index: 1;
    max-width: 154px;
  }
}
