.footer {
  box-sizing: border-box;
  background-color: #1f1f1f;
  color: #fff;
  padding: 60px 102px 60px 80px;
}

.footer__columns {
  display: flex;
  min-height: 224px;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_hours {
  margin: 0 100px 0 auto;
}

.footer__logo {
  width: 116px;
  height: 21px;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  margin-bottom: 16px;
}

.footer__list-item:last-of-type {
  margin-bottom: 0;
}

.footer__column-heading {
  margin-top: 0;
  margin-bottom: 20px;
}

.footer__column-link {
  color: white;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin: 0;
}

.footer__column-link:hover {
  color: #c1c1c1;
}

.footer__social-icon {
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 12px;
  width: 16px;
  height: 16px;
}

.footer__social-icon_type_facebook {
  background-image: url(../images/facebook_white.svg);
}

.footer__social-icon_type_instagram {
  background-image: url(../images/instagram_white.svg);
}

.footer__copyright {
  margin: 0;
}

@media screen and (max-width: 766px) {
  .footer {
    padding: 40px 40px;
  }

  .footer__columns {
    flex-direction: column;
  }

  .footer__column_content_hours {
    margin: 50px 0;
  }

  .footer__column_content_social {
    margin-bottom: 50px;
  }
}
