.membership {
  padding: 100px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.membership__title {
  max-width: 574px;
  margin: 0 auto;
  text-align: center;
  font-size: 44px;
  font-weight: 500;
  line-height: 52px;
}

.membership__steps {
  list-style-type: none;

  margin: 40px 0;
  display: flex;
  justify-content: center;

  column-gap: 40px;
}

@media screen and (max-width: 766px) {
  .membership {
    padding: 40px;
  }

  .membership__steps {
    padding: 20px;
    flex-direction: column;
  }
}
